@import "tailwindcss";

@theme {
  --color-primary: #FC7C16;
  --color-secondary: #36454f;
  --color-tertiary: #ffefe2a8;
  /* ==================================== */
  --font-chivo: "Chivo", sans-serif;
  --font-jost: "Jost", sans-serif;
  /* ==================================== */
}
